
			/*** HEADER ***/
.bg-header{
	background: url("../image/large.jpg");
	background-size: cover;
	height: 42em;
	/* Para modificar la imagen pero afecta mi texto
	-webkit-filter: invert(20%);
	filter: invert(20%)*/
}
							/*** UTILIDADES ***/
/*Fondo*/
.bg-celeste2{
	background-color: rgba(116,163,184, 0.6);
	padding: 30px;
}
.bg-celeste {
	background-color: #74a3db;
	padding: 30px;
}
.bg-celeste3 {
	background-color: #74a3db;
}
.bg-section{
	background: url("../image/sec-2.jpg");
	background-size: cover;
	height: 42em;
	/* Para modificar la imagen pero afecta mi texto*/
	-webkit-filter: invert(20%);
	filter: invert(20%)
}
/*Opacidad*/
.opasidad{
	opacity: 0.6;
}
/*Sombra*/
.sombra{
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
/*logo*/
.logo{
	width: 45%;
	height: 30%;
}
/*Textos*/
.text-title {
	font-size: 50px;
	margin-top: 0;
}
.text-celeste{
	color: #4DB1EA;
}
.text-gray{
	color: #B7ADAD;
}
.text-white{
	color: white !important;
}
.abs{
	position: absolute;
    left: 45%;
    margin-top: -2em;
    z-index: 1;
}
/*Margin*/
.mg-0{
	margin: 0;
}
.mg-2{
	margin: 2%;
}
.mg-3{
	margin: 3%;
}
.mg-5{
	margin: 5%;
}
.mg-40{
	margin-left: 40%;
}
.mgr-10{
	margin-right: -10%;
}
.mgr-15{
	margin-right: -15%;
}
.mgt-10{
	margin-top: 10%;
}
.mgt-25{
	margin-top: 25%;
}
.mgt-55{
	margin-top: 55%;
}
.mgt-80{
	margin-top: 80%;
}

/*Padding*/
.pd-0{
	padding: 0;
}
.pd-3{
	padding: 3%;
}
.pd-5{
	padding: 5%;
}
.pd-10{
	padding: 10%;
}
.pd-25{
	padding: 25%;
}

/*Boton*/
.miBoton {
	margin-top: 5%;
	background: #74a3db;
	border: 2px solid white;
	font-size: 20px;
}
			/*** FOOTER ***/
footer {
	background: #2a3541;
}
			/*** Breakpoints para el menu ***/
@media (min-width: 1200px) {
/*Barra de navegación*/
.navbar { 
	background-color: transparent; 
	background: transparent; 
	border-color: transparent; 
} 
.navbar a{
	color: white !important;
	font-weight: 600 !important;
}
}