
			/*** HEADER ***/
.bg-header{
	background: url("../image/large.jpg");
	background-size: cover;
	height: 40em; 

	opacity: 0.6;
}
							/*** UTILIDADES ***/
/*Fondo*/
.bg-celeste {
	background: #74a3db;
	padding: 30px;
}
/*Textos*/
.text-title {
	font-size: 50px;
	color: #4DB1EA;
	margin-top: 0;
}
.text-white{
	color: white;
}
/*Margin*/
.mg-3{
	margin: 3%;
}
.mg-5{
	margin: 5%;
}
/*Padding*/
.pd-5{
	padding: 5%;
}

/*Boton*/
.boton {
	margin-top: 50px;
	background: #74a3db;
	border: 2px solid white;
	font-size: 20px;
}
			/*** FOOTER ***/
footer {
	background: #2a3541;
}
			/*** Breakpoints para el menu ***/
@media (min-width: 1200px) {
/*Barra de navegación*/
.navbar { 
	background-color: transparent; 
	background: transparent; 
	border-color: transparent; 
} 
.navbar a{
	color: white !important;
	font-weight: 600 !important;
}
}